name: Deploy to EC2

on:
  workflow_run:
    workflows: ["Build and Push Docker Image"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          port: 22
          script: |
            set -e

            cd ~/2026_TRIPLES_TEAM_2_BE

            git pull origin main

            docker compose pull spring_app

            docker compose down

            docker image prune -af
            docker container prune -f
            docker builder prune -af

            docker compose --profile proxy up -d --build

            docker compose ps
